# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env
*.env

# Virtual environment
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Flask cache
flask_session/
instance/
*.pyc

# Logs
*.log
*.log.*
logs/

# Static files and compiled assets
staticfiles/
static/
public/
*.woff
*.woff2

# Database
*.db
*.sqlite
*.sqlite3
db.sqlite3
instance/

# SQLAlchemy migration files
migrations/
alembic/

# MacOS system files
.DS_Store

# Node.js modules (if frontend uses Node.js)
node_modules/
npm-debug.log
yarn-error.log

# Python egg files
*.egg
*.egg-info/
dist/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg-info/
.Python

# Coverage reports
htmlcov/
.coverage
.tox/
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.coverage.*

# IDE Specific files
.vscode/
.idea/
*.iml
.mypy_cache

# PyInstaller
*.spec

# pytest
.cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Secrets or sensitive keys (Example: keys or certificates)
keys/
certificates/
*.pem
*.key

# project specific
docs/
logs/
